{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [
    atomvm_rebar3_plugin
]}.
{project_plugins, [
    rebar_gleam
]}.
{src_dirs, ["src", "gen/src", {"build/dev/erlang", [{recursive, true}]}]}.

{pre_hooks, [
    {compile, "gleam build"},
    {compile, "find build -name gleam@@compile.erl | xargs rm -f"}
]}.